@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    margin:0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #fff;
    line-height: 1.6;
    color: #404040;
 }

#banner{
    height:200px;
    width:100%;
    text-align: center;
    line-height: 250px;
    font-family: "Montserrat", sans-serif
}

h2.post-title {
    font-size: xx-large;
    font-weight: bold;
    margin: 5px 0px 20px;
    color: black;
    line-height: 1.1;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-top:30px;
    color: black;
    line-height: 1.1;
}

#banner a{
    text-decoration: none;
    color: #a0a0a0;
    font-size: 3em;
    font-weight: 700;
}

.post{
    max-width: 996px;
    margin: 30px auto;
    padding: 15px;
}

.post .time{
    font-weight: bold;
    color:#a0a0a0;
    font-size: small;
}

.post p{
    text-align: justify;
    margin-bottom: 15px;
    margin-top: 15px;
}

#footer{
    font-size: small;
    text-align: center;
    padding:50px;
    margin-top:50px;
}

#bottomnav{
    margin-top:80px;
}

#bottomnav > div{
    width:49%;
    display: inline-block;
}

#bottomnav > #prev{
    text-align: left;
}

#bottomnav > #next{
    text-align: right;
}

a{
    text-decoration: none;
    color:#00a9fb;
}

#listing_title{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    font-weight: bold;
    color:#808080;
    font-size: large;
    font-family: sans-serif, Montserrat
}

ul, ol {
    margin-left: 30px;
}

ul > li {
    list-style: disc;
}

ol > li {
    list-style: decimal;
}



code {
    display: block;
    font-family: "Fira Code", monospace;
    font-size: small;
    padding: 10px;
    background-color: #f0f0f0;
    color:#202020;
    border-radius: 3px;
}

@media only screen and (max-width:700px) {
    #banner {
        height: 100px;
        line-height: 100px;
    }
}