@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    margin:0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

#banner{
    background-color:#5ebdff;
    height:250px;
    width:100%;
    text-align: center;
    line-height: 250px;
    font-family: "Montserrat", sans-serif
}

h2{
    font-family: "Montserrat"
}

#banner a{
    text-decoration: none;
    color: #fff;
    font-size: 3em;
    font-weight: 700;
}

.post{
    width:50%;
    margin:30px;
    margin-left:auto;
    margin-right:auto;   
}

.post .time{
    font-weight: bold;
    color:#a0a0a0;
    font-size: small;
}

.post-title{
    margin:0px;
    font-size: xx-large;
}

.post p{
    text-align: justify;
}

#footer{
    font-size: xx-small;
    text-align: center;
    padding:50px;
    margin-top:50px;
    background-color:#f0f0f0;
}

#bottomnav{
    margin-top:80px;
}

#bottomnav > div{
    width:49%;
    display: inline-block;
}

#bottomnav > #prev{
    text-align: left;
}

#bottomnav > #next{
    text-align: right;
}

a{
    text-decoration: none;
    color:#00a9fb;
}

#listing_title{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    font-weight: bold;
    color:#808080;
    font-size: large;
    font-family: Montserrat
}

code{
    font-size: 1.0em;
}
