<div class="post">
    <div class="time">{{date}} under {{front_matter.category}}</div>
    <div>
        <h2 class='post-title'>{{title}}</h2>
        {{#previews_only}}
            {{{preview}}}
            <a href="{{site_path}}{{path}}">Continue reading</a>
        {{/previews_only}}
        {{^previews_only}}
            {{{body}}}
        {{/previews_only}}
    </div>
    <div id="bottomnav">
        {{#prev}}
        <div id="prev">
            <a href="../../../{{prev.path}}">{{prev.title}}</a>
        </div>
        {{/prev}}
        {{#next}}
        <div id="next">
            <a href="../../../{{next.path}}">{{next.title}}</a>
        </div>
        {{/next}}
    </div>
</div>
