<div class="post">
    <div class="time">{{date}} under {{category}}</div>
    <div>
        <h2 class='post-title'>{{title}}</h2>
        {{#previews}}
            {{{preview}}}
            {{#more_link}}<a href="{{site_path}}{{path}}">Continue reading</a>{{/more_link}}
        {{/previews}}
        {{^previews}}
            {{{body}}}
        {{/previews}}
    </div>
    <div id="bottomnav">
        {{#prev}}
        <div id="prev">
            <a href="../../../{{prev.path}}">{{prev.title}}</a>
        </div>
        {{/prev}}
        {{#next}}
        <div id="next">
            <a href="../../../{{next.path}}">{{next.title}}</a>
        </div>
        {{/next}}
    </div>
</div>
