<p id='class-name-section'>
<span class='access'>{{access}}</span> class <h1>{{name}}</h1>
{{#parents}}inherits from {{/parents}} {{#parents}}{{name}}{{/parents}}
</p>
<h2>Description</h2>
<p>{{{brief}}}{{{description}}}</p>

<h2>Summary</h2>
{{#sections}}
    {{> doxygen_summary.mustache}}
{{/sections}}

<h2>Details</h2>
{{#sections}}
    {{> doxygen_details.mustache}}
{{/sections}}
