body{
    margin:0px;
    font-family: Helvetica;
    font-variant: normal;
}

#banner, #banner-wide
{
    background-color:#c0c0c0;
    font-weight: bold;
    font-size:x-large;
    padding-top:10px;
    padding-bottom:10px;
    color:#fff;
    position:fixed;
    top:0px;
    left:0px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    width:100%;
}

span#site-name, #timestamp, #body{
    width:80%;
    max-width:1024px;
}

#banner span#site-name{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#banner-wide span#site-name{
    display:block;
    width:100%;
    padding-left:10px;
    padding-right:10px;
}

#banner a, #banner-wide a{
    text-decoration: none;
    color:#fff;
}

a{
    text-decoration: none;
    color:#0187cd;
}

#side-list{
    width:22%;
    float:left;
    padding-top:50px;
}

#body-wide{
    width:78%;
    float:left;
    padding-top:50px;
}

.padded-content{
    padding:10px;
}

#body{
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
}



#timestamp, #timestamp-wide
{
    padding-bottom:50px;
    margin-top:50px;
    padding-top:10px;
    margin-left: auto;
    margin-right: auto;
    border-top:1px solid #f0f0f0;
    font-size: x-small;
    color:#202020;
    clear:both;
}

h1{
    border-bottom: 2px solid #e0e0e0;
}

h2{
    border-bottom: 1px solid #f0f0f0;
}

h3{
    margin-bottom:0px;
}

code{
    padding:1px;
    padding-left:5px;
    padding-right:5px;
    background-color:#fcfcfc;
    color:#404040;
}

pre {
    background-color: #fcfcfc;
    display:block;
    overflow: auto;
    font-weight: normal;
    font-size:large;
}

blockquote{
    background-color:#fbfefa;
    padding:10px;
    border-left:5px solid;
    border-left-color: #c9efc8;
    font-size:smaller;
}

img{
    margin:5px;
}

.img-frame{
    margin-bottom:15px;
    margin-top:15px;
}

.img-frame > div {
    padding:5px;
    font-weight:bold;
    font-size:smaller;
}

.block{
    padding:15px;
    padding-left:94px;
    min-height: 84px;
    background-position:15px 20px;
    background-repeat: no-repeat;
    margin-top:10px;
    margin-bottom:10px;
    background-color: #f0f0f0;
    border-left: 5px solid #c0c0c0;
}

.info{
    background-color:#fffabc;
    background-image:url(../images/info.png);
}

.warning{
    background-color:#ffeef0;
    border-left:5px solid #ff465b;
    background-image:url(../images/warning.png);
}

table{
    width:100%;
    margin-top:10px;
    margin-bottom: 20px;
    border-collapse:collapse;
}

table > thead{
    background-color: #f0f0f0;
}

table > thead > tr > th{
    padding:10px;
    text-align: left;
}

table > tbody > tr > td{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #fcfcfc;
}

.toc {
    list-style: none;
    margin-left: 5px;
}

.toc > li > a{
    font-size:smaller;
}

.toc-1{
    margin:0px;
    padding:0px;
}

.toc-wrapper{
    background-color:#fafafa;
    padding:15px;
    float:right;
    margin-left:10px;
    width:25%;
    min-width:150px;      
}

.toc-wrapper > span{
    font-weight:bold;
}

dt{
    font-weight: bold;
}
