table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    th {
        background-color: lighten($secondary-color, 10%);
        color:white
    }
    td, th {
        padding: 5px;
    }
    td {
        border-bottom: 1px solid lighten($secondary-color, 30%)
    }
}