// Colors are defined in SiteTheme.php

$banner-color: $primary-color;
$banner-text: lighten($banner-color, 60%);
$header-colors: darken($banner-color, 15%);

.ashes-banner-background {
    background-color: $banner-color;
}

.ashes-banner-foreground {
    color: $banner-text;
}

.ashes-primary-foreground { color: $primary-color }
.ashes-primary-background { background-color: $primary-color }
.ashes-secondary-foreground { color: $secondary-color }
.ashes-secondary-background { background-color: $secondary-color }
