@media print {
    .side-toc {
        display: none;
    }

    #banner-container {
        position: relative;
        nav {
            display: none;
        }
    }

    #body-wrapper {
        article {
            padding: 0px;
            margin: 0px;
            max-width: 100%;
        }
    }
}
