@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yaldevi:wght@400;700&display=swap');

$banner-height: 48px;

body{
    margin:0px;
    font-family: Roboto, sans-serif;
    line-height: 1.4;
    font-size: larger;
    min-width: 300px;
}

a{
    text-decoration: none;
    color: lighten($secondary-color, 10%);
}

html {
    scroll-behavior: smooth;
}

// Place some margin on top of the header so it doesn't get under the banner
:target:before {
    content: "";
    display: block;
    height: ($banner-height + 10);
    margin: -($banner-height + 10) 0 0;
}

.wrapper {
    width: 100%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper.has-toc {
    max-width:initial;
}

#banner-container {
    background-color: $banner-color;
    color: $banner-text;
    position: fixed;
    width: 100%;
    top: 0px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    z-index: 150;
    
    > #banner-wrapper {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        
        > header {
            flex-grow: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        
        > nav {
            ul {
                margin: 0px;
                list-style: none;
                font-size: 17px;
                li {
                    display:inline-block;
                    line-height: $banner-height;
                    margin-left: 15px;
                    a {
                        color: lighten($banner-color, 50%)
                    }
                    a:hover {
                        color: lighten($banner-color, 40%)
                    }
                }
            }
        }
    }
    
    #banner {
        font-size: 28px;
        font-weight: bold;
        line-height: $banner-height;
    }
}

#hamburger {
    padding: 8px;
    padding-left: 0px;
    display: none;
    > path {
        fill: $banner-text
    }
}

@media screen and (max-width: 1350px) {
    .wrapper.has-toc {
        width: 100%;
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #hamburger {
        display: block
    }
}

article {
    max-width: 950px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top:$banner-height;
    color:#404040;
    box-sizing: border-box;
    
    h1, h2, h3, h4, h5, h6 {
        color: $header-colors;
        font-weight: normal;
        margin-bottom: 5px;
        margin-top: 30px;
        font-family: Yaldevi;
    }

    p {
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    code {
        background-color: #f0f0f0;
        color: #444;
        display: inline-block;
        padding: 1px;
        border-radius: 2px;
        border:1px solid #e0e0e0;
    }
    
/*    pre {
        box-sizing: border-box;
        >code {
            border: none;
        }
    }*/
}

