// The height of the top banner
$banner-height: 52px;

// The maximum width of any piece of content
$max-content-width: 850px;

// The maximum width of the Table of contents section on either side of the content.
$toc-width: 280px;

// The full width of any page that is rendered with TOC.
$full-max-width: ($toc-width * 2) + $max-content-width;


body{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    //font-size: larger;
    min-width: 300px;
}

a{
    text-decoration: none;
    color: lighten($secondary-color, 10%);
}

html {
    scroll-behavior: smooth;
}

// Place some margin on top of the header so it doesn't get under the banner
:target:before {
    content: "";
    display: block;
    height: ($banner-height + 10);
    margin: -($banner-height + 10) 0 0;
}

.wrapper {
    width: 100%;
    max-width: $max-content-width;
    margin-left: auto;
    margin-right: auto;
}

.wrapper.has-toc {
    max-width:initial;
}

.modal.active {
    display: block;
    opacity: 0.3
}

.modal {
    position: fixed;
    left: 0px;
    top: $banner-height;
    background-color: darken($banner-color, 30%);
    width: 100%;
    opacity: 0;
    display: none;
    transition: opacity 1s;
}

#banner-container {
    background-color: $banner-color;
    color: $banner-text;
    position: fixed;
    width: 100%;
    top: 0px;
    box-sizing: border-box;
    //box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    z-index: 150;
    
    > #banner-wrapper {
        display: flex;
        max-width: $max-content-width;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        
        > header {
            flex-grow: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 10px
        }
    }

    > #banner-wrapper.has-toc {
        max-width: $full-max-width;
    }
    
    #banner {
        font-family: Montserrat, sans-serif;
        font-size: 28px;
        font-weight: bold;
        line-height: $banner-height;
    }
}

#body-wrapper.has-toc {
    width: $full-max-width;
}

#main-navigation {
    overflow: hidden;
    ul {
        margin: 0px;
        margin-right: 10px;
        padding: 0px;
        list-style: none;
        font-size: 17px;
        >li {
            display:inline-block;
            line-height: $banner-height;
            margin-left: 7px;
            margin-right: 7px;
            a {
                color: lighten($banner-color, 50%);
                display: block
            }
            a:hover {
                color: lighten($banner-color, 40%)
            }
        }
    }
}

.hamburger {
    padding: 8px;
    display: none;
    > path {
        fill: $banner-text
    }
}

@media screen and (max-width: $full-max-width) {
    // body {
    //     font-size: normal;
    // }
    
    .wrapper.has-toc {
        width: 100%;
        max-width: $max-content-width;
        margin-left: auto;
        margin-right: auto;
    }
    
    #banner-wrapper.has-toc {
        .hamburger {
            display: block
        }    
    
        #main-navigation {
            width: 100%;
            display: none;
            position: absolute;
            top: $banner-height;
            left: 0px;
        }
        
        #main-navigation.active {
            display: block;
            background-color: darken($banner-color, 10%);
            z-index: 100;
            ul {
                width: 100%;
                >li {
                    display:block;
                }
            }        
        }
    }
}

#menu-hamburger.active {
    background-color: darken($banner-color, 10%);
}


article {
    max-width: $max-content-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color:#404040;
    box-sizing: border-box;
    
    h1, h2, h3, h4, h5, h6 {
        color: $header-colors;
        //font-weight: normal;
        margin-bottom: 5px;
        margin-top: 30px;
        font-family: Montserrat, sans-serif;
    }

    p {
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    code {
        background-color: #f0f0f0;
        color: #444;
        display: inline-block;
        padding: 1px;
        border-radius: 2px;
        border:1px solid #e0e0e0;
    }
}

article.has-header {
    margin-top:$banner-height;
}

img {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

figure {
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 30px;

    img {
        margin: 0px;
    }

    figcaption {
        color: $secondary-color;
        padding: 5px;
        font-size: 0.9em;
        text-align: center;
    }
}

// EXPORTS
.ashes-max-content-width {
    width: $max-content-width;
}