table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    > thead {
        background-color: lighten($secondary-color, 40%)
    }
    td, th {
        padding: 5px;
    }
    tr {
        border-bottom: 1px solid lighten($secondary-color, 40%)
    }
}