body{
    font-size:smaller;
}

#body{
    width:100%;
}

#banner{
    position:absolute;
    width:100%;
    padding:0px;
    background:none;
}

#banner a{
    color:black;
}

#timestamp{
    width:100%;
    margin-left:0px;
    margin-right:0px;
}

pre{
    box-shadow:none;
    border-radius: 0px;
    overflow:visible;
    overflow-wrap:break-word;
}

.block{
    box-shadow:none;
    border-radius: 0px;
}