#body-wrapper > table{
    width:100%;
    border-collapse: collapse;
}

#body-wrapper{
    padding:10px;
}

#body-wrapper > table td{
    padding:10px;
    border:1px solid #f0f0f0;
}

td.type-information{
    text-align: right;
}

h3{
    margin:0px;
    padding:7px;
    border-bottom: 2px solid #a0a0a0;
    margin-top:15px;
}

h4{
    margin:0px;
    padding:7px;
    background-color:#f0f0f0;
    margin-top:15px;
}

.prototype{
    padding:7px;
    background-color:#f0f0f0;
    margin-top:20px;
}

.prototype-anchor{
    position:relative;
    top:-80px;
    display:block;
}

.prototype-description{
    border:1px solid #f0f0f0;
    padding:10px;
}

.prototype-description p{
    padding:0px;
    margin:0px;
    margin-bottom:10px;
}

.item-name{
    font-weight: bold;
}

.subheader{
    font-weight: bold;
    font-style: italic;
    margin-top:20px;
}
#body-wrapper > .prototype-description > table.subheader-table{
    margin-left:3%;
    width:97%;
    border-collapse: collapse;
}

#body-wrapper > .prototype-description > table.subheader-table td{
    border:none;
    border-bottom:1px solid #f0f0f0;
    padding:7px;
}

.section-head{
    display:block;
    padding:10px;
}

#methods-summary-table p{
    margin:0px;
    margin-top:5px;
}

#footer{
    margin-left:21%;
    padding:50px;
    padding-left:10px;
    font-size: small;
    color:#a0a0a0;
}

code{
    font-size: smaller;
    font-weight: bold;
    background-color:#fcfcfc;
    color: #404040;
}

pre > code{
    font-size: smaller;
    font-weight: normal;
}

.prototype > code{
    background-color: transparent;
    font-size:1em;
}

h2{
    margin:0px;
    font-weight:100;
    font-style:normal;
    font-size: 2.5em;
}