body{
    margin:0px;
    font-family: sans;
}

#header{
    width: 100%;
    position:fixed;
    left:0px;
    top:0px;
    background-color:#f0f0f0;
    
}

#header > h1{
    margin:0px;
    padding:10px; 
}

#side{
    margin-top:60px;
    display:inline-block;
    width:20%;
    vertical-align: top;
}

#side > div {
    padding:10px;
}

#body{
    margin-top:60px;
    display:inline-block;
    width:80%;
    vertical-align: top;
}

