<!doctype html>
<html lang="en">
    <head>
        <title>API</title>
        <link rel="stylesheet" type="text/css" href="{{home_path}}assets/css/api.css" />
    </head>
    <body>
        <div id="header">
            <h1>{{site_name}}</h1>
        </div>
        <div id="side">
            <div id="namespaces-list">
                <ul>{{#namespaces}}<li><a href="{{site_path}}{{path}}/index.html">\{{name}}</a></li>{{/namespaces}}</ul>
            </div>
            <div id="namespace-items-list">
                <b>Classes</b>
                <ul>{{#classes}}<li><a href="{{site_path}}{{path}}.html">{{name}}</a></li>{{/classes}}</ul>
                <b>Interfaces</b>
                <ul>{{#interfaces}}<li><a href="{{site_path}}{{path}}.html">{{name}}</a></li>{{/interfaces}}</ul>
            </div>
        </div><div id="body">
            {{{body}}}
        </div>
        <div id="footer"></div>
    </body>
</html>