<h2>{{namespace}}</h2>


<h3>Interfaces</h3>
<table>
    <thead><tr><th>Inteface</th><th>Description</th></tr></thead>
    <tbody>{{#interfaces}}<tr><td><a href="{{site_home}}{{path}}">{{name}}</a></td><td>{{description}}</td></tr>{{/interfaces}}</tbody>
</table>

<h3>Classes</h3>
<table>
    <thead><tr><th>Class</th><th>Description</th></tr></thead>
    <tbody>{{#classes}}<tr><td><a href="{{site_home}}{{path}}.html">{{name}}</a></td><td>{{description}}</td></tr>{{/classes}}</tbody>
</table>
