body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    background-color: #fff;
    color: #505050;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

#banner {
    width: 100%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    padding: 70px;
    box-sizing: border-box;
    border-bottom: 1px solid lighten($secondary-color, 25%);
    background-color: lighten($secondary-color, 35%);

    #site-title {
        display: block;
        position: relative;

        a {
            text-decoration: none;
            color: $primary-color;
            font-size: 3em;
            font-weight: 700;
        }
    }

    #site-tagline {
        display: block;
        position: relative;
        top: -15px;
        color: lighten($primary-color, 10%)
    }
}

nav#main-nav {
    border-bottom: 1px solid lighten($secondary-color, 25%);

    ul {
        display: block;
        text-align: center;
        margin: 0px;
        list-style: none;

        li {
            display: inline-block;
            padding: 7px;
            padding-left: 10px;
            padding-right: 10px;

            a {
                color: $secondary-color;
                font-weight: bold
            }
        }
    }
}

.post {
    max-width: 996px;
    //margin: 30px auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

    h1, h2, h3 {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        margin-top: 30px;
        color: $primary-color;
        line-height: 1.1;
        a {
            color: $primary-color
        }
    }

    h1 {
        font-size: xx-large;

    }

    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: large;
    }

    .time {
        font-weight: bold;
        color: lighten($secondary-color, 10%);
        margin-top: 5px;
        margin-bottom: 40px;
    }

    p {
        text-align: justify;
        margin-bottom: 30px;
        margin-top: 7px;
    }

    img {
        width: 100%;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    img.half {
        width: 50%;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    figure {
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 30px;

        img {
            margin: 0px;
        }

        figcaption {
            color: $secondary-color;
            padding: 5px;
            font-size: 0.9em;
        }
    }

    code {
        background-color: #f0f0f0;
        font-family: monospace;
        border:1px solid #e0e0e0;
        color: #444;
        display: inline-block;
        padding: 1px;
        border-radius: 2px;
        font-size: large;
        line-height: normal;
    }

    pre > code {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .hljs {
        padding: 10px;
        border: none;
        border-radius: 5px;
    }  
}

.post.preview {
    .time {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

#footer {
    font-size: small;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
}

#bottomnav {
    margin-top: 80px;
}

#bottomnav>div {
    width: 49%;
    display: inline-block;
}

#bottomnav>#prev {
    text-align: left;
}

#bottomnav>#next {
    text-align: right;
}

#listing_title {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-weight: bold;
    color: #808080;
    font-size: large;
    font-family: sans-serif, Montserrat
}

ul,
ol {
    margin-left: 30px;
}

ul>li {
    list-style: disc;
}

ol>li {
    list-style: decimal;
}

@media only screen and (max-width:700px) {
    #banner {
        height: 100px;
        line-height: 100px;
    }
}