<h2>All Classes</h2>
<table>
<thead><tr><td>Class</td><td>Brief Description</td></tr></thead>
<tbody>
{{#classes}}
    <tr><td><b>{{name}}</b></td><td>{{brief}}</td></tr>
{{/classes}}
</tbody>
</table>