{{#label}}
<table>
    <thead><tr><th>{{label}}</th><th></th></tr></thead>
    <tbody>
    {{#items}}
        <tr><td>{{name}}{{args_string}} {{initializer}}</td><td>{{{brief}}}</td></tr>
    {{/items}}
    </tbody>
</table>
{{/label}}