{{#label}}
<h3>{{label}}</h3>
    {{#items}}
        <div class='detailed-info-box'>
        <h4>{{name}}{{args_string}}</h4>
        <div class='description'>{{{description}}}</div>
        </div>
    {{/items}}
{{/label}}