<h2>All Classes</h2>
<table>
<thead><tr><th>Class</th><th>Brief Description</th></tr></thead>
<tbody>
{{#classes}}
    <tr><td><b>{{name}}</b></td><td>{{brief}}</td></tr>
{{/classes}}
</tbody>
</table>